body {
    background-color: #eef2f3;
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    width: 320px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input {
    width: 100%;
    padding: 7px;
    border: 1px solid #455759;
    border-radius: 4px;
}
span {
    color: red;
    font-size: 12px;
}
input[type="submit"] {
    margin-top: 10px;
    background-color: #817099;
    color: white;
    border: none;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
}


input[type="submit"]:hover {
    background-color: #844ed6;
}
